---
import type {
  Vivienda,
} from "../api/A2viviendasREST"

import AppConfig from "../config";

const { vivienda } = Astro.props as {vivienda:Vivienda};
---
<div class="card mb-5" style="width: 50rem;">
    <img src="https://s37805.pcdn.co/fotocasa-life/wp-content/uploads/2019/11/bancos-4.jpg" class="card-img-top" alt="foto de la vivienda">
    <div class="card-body">
      <h5 class="card-title"><a href={`/houses/${vivienda.id}`}>{vivienda.title}</a></h5>
      <p class="card-text">{vivienda.description}</p>
      <p class="card-text">{vivienda.location}</p>
      <p class="card-text">{vivienda.price}€/mes</p>
    </div>
  </div>
